@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/opensans-regular.woff2') format('woff2'),
       url('./fonts/opensans-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Digital Seven';
  src: url('./fonts/digitalseven-regular.woff2') format('woff2'),
       url('./fonts/digitalseven-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: inherit;
}

html,
body,
.app {
  height: 100vh;
  overflow: hidden;
}

body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
}

#backgroundImage {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

#backgroundImage::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.3);
}

.app header,
.app .container,
.app footer {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.app header {
  height: 80px;
}

.app .container {
  height: calc(100% - 140px);
  flex-direction: column;
  justify-content: center;
}

.app footer {
  height: 60px;
}

.greeting {
  font-weight: 500;
  font-size: 2.8rem;
}

.today,
.time {
  font-family: 'Digital Seven';
}

.today {
  position: relative;
  z-index: 1;
  padding: 5px 10px;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.today:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.24);
}

.time {
  margin-top: 0.5rem;
  font-size: 5rem;
}

.time span {
  display: inline-block;
  margin-right: -4px;
  vertical-align: middle;
  line-height: 1;
}

#ampm {
  font-size: 2rem;
}

.shadow {
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
              0px 2px 2px 0px rgb(0 0 0 / 14%),
              0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.weather {
  position: relative;
  z-index: 1;
  margin-right: 89px;
  padding: 5px 10px;
  display: flex;
  font-size: 1.2rem;
  text-transform: capitalize;
  color: #ffffff;
}

.weather:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.24);
}

.cloud {
  position: absolute;
  top: 15px;
  right: -90px;
  margin-left: 5px;
  width: 80px;
  height: 30px;
  background: #ECEFF1;
  box-shadow: 10px 10px rgba(0,0,0,0.2);
  border-radius: 60px;
}

.cloud::after,
.cloud::before{
  content: "";
  position: absolute;
  z-index: -1;
  display: inline-block;
  background: inherit;
  border-radius: inherit;
}

.cloud::after {
  width: 30px;
  height: 30px;
  top: -20px;
  left: 5px;
}
.cloud::before {
  width: 50px;
  height: 50px;
  top: -25px;
  left: 20px;
}


/* 

#backgrounColor button {
  margin-right: 0.5rem;
  width: 1.5rem;
  height: 1rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.btn {
  cursor: pointer;
}

.btn_settings {
  width: 3rem;
  height: 3rem;
  text-align: center;
  line-height: 3rem;
  font-size: 2rem;
  border-radius: 50%;
  background-color: #ffffff;
  color: #000000;
}

.btn_settings.active {
  color: #dc004e;
}

.pos-absolute {
  position: absolute;
}

.pos-right-2 {
  right: 2rem;
}

.pos-bottom-2 {
  bottom: 2rem;
}

.pos-bottom-6 {
  bottom: 6rem;
}

.z-2 {
  z-index: 2;
}


.model {
  padding: 1rem;
  background-color: #ffffff;
}

.model-settings {
  right: -360px;
  min-width: 280px;
  max-width: 360px;
  height: 60vh;
  padding: 0.5rem;
  overflow: hidden;
  overflow-y: auto;
  font-size: 0.8rem;
  border-radius: 5px;
  color: #000000;
  transition: right 300ms ease;
}

.model-settings.active {
  right: 2rem;
}

.settings-category {
  padding: 0.5rem;
  border: 1px dashed #1976d2;
}

.settings-category,
.settings-category p {
  margin-bottom: 0.5rem;
}

.switch-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.switch-toggle {
  height: 30px;
}

.switch-toggle input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -2;
}

.switch-toggle input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 30px;
  margin: 0;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: inset -8px -8px 15px rgba(255,255,255,.6),
              inset 10px 10px 10px rgba(0,0,0, .25);
  
}

.switch-toggle input[type="checkbox"] + label::before {
  content: 'OFF';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 45px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  font-size: 13px;
  border-radius: 20px;
  background-color: #d1dad3;
  box-shadow: -3px -3px 5px rgba(255,255,255,.5),
              3px 3px 5px rgba(0,0,0, .25);
  transition: 300ms ease-in-out;
}

.switch-toggle input[type="checkbox"]:checked + label::before {
  content: 'ON';
  left: 50%;
  color: #fff;
  background-color: #00b33c;
  box-shadow: -3px -3px 5px rgba(255,255,255,.5),
              3px 3px 5px #00b33c;
} */